/* submission.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Arial, Helvetica, sans-serif; 
    color: white;
    background-color: #565353;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    margin-top: 60px; /* adjust this value to create spacing below the navbar */
}

.form-container {
    background-color: #4b4949;
    padding: 50px;
    border-radius: 1rem;
    border: solid rgb(206, 202, 202) 0.5rem
}

h2 {
    color: #fcf8f8dd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #797777;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b8bdb8;
}